
@media only screen and (max-width:768px) {
#link {
position: absolute;
 margin-right:0%;
margin-top:-90%
}
}
@media only screen and (min-width: 769px) {
#link {
float:right;
margin-top:-20%
}
}

@media only screen and (min-width: 769px) {

#MainImage{width:1000px}
#MainImage1{width:1000px}

#home1{margin-top:-20%;margin-left:0% }


}
h2{background-color:green; padding:10px; color:white}


@media only screen and (max-width:768px) {
#male{color:cyan}
#MainImage{width:100%}
#MainImage1{width:100%}
#home1{margin-top:-20%;margin-left:-20% }


}	
